/*azul principal #4183D7*/
/*naranja #FF6600*/
/*azul secundario #19B5FE*/

body {
	padding-top: 70px;
	background-image: url('../images/bg.jpg');
	background-attachment: fixed;
}
a, button, p {
	transition: all .5s ease-in-out;
}
#owl-demo {
    height: 600px;
}
#home .owl-item img {
	margin: 0 auto;
}
#home .owl-item .item {
    height: 600px;
}
#owl-demo2 .owl-buttons {
	display: none;
}
#owl-demo2 .owl-pagination {
    bottom: 0;
    top: initial;
    left: 0;
}
.owl-pagination {
	display: none;
}

#owl-demo2 .owl-page.active span {
    background: white;
}
.btn-primary {
	color: #ffffff;
	background-color: #ff6600;
	border-color: #e65c00;
	border-radius: 5px !important;
	font-weight: bold;
}

.container {
	text-align: center;
	height: 40%;
}
a.active, a.active:hover  {
    color: #ffffff !important; 
    font-weight: bold;
    background-color: #ff6600 !important;  
    border-color: #e65c00 !important; 
    border-radius: 5px !important;
}

.navbar-fixed-top {
	border-top-color: #FF6600;
	border-width: 4px 0 0 0px;
	opacity: 0.9;
}
.navbar-form {
    padding: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.titulo-blanco {
	font-size: 30px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.titulo-azul {
	font-size: 34px;
	color: #4183D7;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.subtitulo-azul {
	font-size: 20px;
	color: #4183D7;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.titulo-banner {
	font-size: 26px;
	color: #fff;
	position: relative;
	z-index: 2;
	vertical-align: middle;
}

.home-banner {
	background-image: url('../images/home-banner.jpg');
	background-repeat: no-repeat;
	background-color: #d6e5ea;
	background-position: center; 
	width: auto;
	height: 600px;
	text-align: left;
	padding-top: 15%;
	padding-left: 25%;
}
.home-container {
	margin-top: -90px;
	text-align: center;
}
.navbar-header img {
	padding-top: 2px;
	height: 49px;
}
#somos .img-responsive, footer .img-responsive {
	margin: 0 auto;
}
.somos-container {
	margin-top: 4em;
	padding-top: 4em;
	padding-bottom: 6em;
	/*background-color: #4183D7;*/
	opacity: 0.9;
}

.glyphicon {
	color: white;
}

.servicios-banner {
	background-image: url('../images/servicios-banner.jpg');
	background-repeat: no-repeat;
	background-color: #000;
	background-position: center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 600px;
}

.servicios-caja {
	margin: 20px;
	border-width: 2px;
	border-color: #FF6600;
	border-radius: 4px;
	padding: 5px;
	border-style: solid;
	background-color: #ffddc7;
}


.servicios-caja-titulo {
	margin: 0px;
	background: #FF6600;
	border-width: 2px;
	border-color: #FF6600;
	border-radius: 3px 3px 0 0;
	padding: 10px;
	color: #fff;
	border-style: solid;
}

.productos-container {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #19B5FE;
	opacity: 0.7;
}

.hacemos-container {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #19B5FE;
	opacity: 0.8;
	color:#fff;
}

.productos-caja {
	margin: 20px 10px;
	padding: 20px;
	color: #fff;
}
.productos-caja img {	
	transition: all .5s ease;
}
.productos-caja img:hover {
	transform: scale(.9);
}

#medios .container::before,  #servicios .container::before, #clientes .container::before{
	content: '';
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
}
.medios img {
	transition: all .5s ease-in-out;
	transform: scale(1);
}

.medios img:hover {
	transform: scale(.9);
}

.medios-banner {
	background-image: url('../images/medios-banner.jpg');
	background-repeat: no-repeat;
	background-color: #000;
	background-position: center;
	background-size: cover;
	position: relative;
	width: auto;
	height: 600px;
}
.clientes-banner {
	background-image: url('../images/clientes-banner.jpg');
	background-repeat: no-repeat;
	background-color: #000;
	background-position: center;
	background-size: cover;
	position: relative;
	width: auto;
	height: 600px;
}

.clientes-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.equipo-container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contacto-container {
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 10%;
	background-color: #19B5FE;
	border-width: 5px 5px 5px 5px;
	border-bottom-color:  #FFF;
	opacity: 0.7;
}
.servicios-container {
	padding-bottom: 5%;
}


.footer-h {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #3C3C3B;
	color: #FFF;

	border-top-width: 1px;
	border-top-color: #FF6600;
	border-top-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #4183D7;
	border-bottom-style: solid;
}

/* CAROUSEL

/* Carousel base class */
.carousel {

  height: 600px;
  width: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
 	z-index: 10;
	position: absolute;
	top: 10em;
}
#home h1 {
	width: 60%;
	color: white;
	background: #4183D7;
	padding: 10px 15px;
	text-align: center;
	position: absolute;
	top: 7em;
	font-size: 32px;

	opacity: 0;
	transition: all 0.5s ease-in-out;
}

#home .btn-primary {
    position: absolute;
    top: 22em;
    left: 6em;
    opacity: 0;
}

#home p {
	width: 70%;
}
.medios {
    height: 1000px;
}
.brand p {
	position: absolute;
	top: 0;
	color: black;
	padding: 5.3em 2.5em;
	left: 0;
	background: white;
	border-radius: 50%;
	width: 286px;
	height: 285px;
	border: 1px solid #e65c00;
	font-size: 16px;
	transition: all .5s ease-in-out;
	display: none;
	right: 0;
	margin: 0 auto;  
}

.brand {
    display: block;
    border-radius: 50%;
}

/*slider*/
.owl-pagination {
	top: 2%;
	position: absolute;
	right: 0;
	left: 50%;
}

.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
}

.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
}

.owl-item {
	position: relative;
    text-align: center;
}
.owl-prev, .owl-next {
    font-size: 60px !important;
    background: none !important;
    color: black !important;
    margin: 0 0.5em !important;
}


  * {
    text-shadow: none !important;
}
#contacto .btn {
    border: none;
    padding: 8px;
    font-size: 19px;
}

.cliente:after {
	content: "";
	position: absolute;
	width: 100%;
	background: #ff6600;
	bottom: -2px;
	left: 0;
	height: 2px;
}
.servicios-banner::after, 
.medios-banner::after,
.clientes-banner::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(45, 42, 42, 0.34);
    position: absolute;
    z-index: 1;
    top: 0;
}
.cliente:before {
	content: "";
	position: absolute;
	width: 100%;
	background: #ff6600;
	top: -2px;
	left: 0;
	height: 2px;
}
.cliente {
	margin-top: 2em;
	padding-top: 1em;
    background: #4183D7;
/*    border-bottom: 10px solid white;
    margin: 1em;
    color: white;*/
}

.cliente img:last-child {
    margin-bottom: 2em;
}
.cliente .texto {
	margin-top: 1.5em;
	text-align: left;
	color: #fff;
}

.cliente .firma {
	margin-top: 1.5em;
	text-align: right;
	color: #fff;
}


 @media (min-width: 1025px) {
	.servicios-banner, .medios-banner, .clientes-banner {
		background-attachment: fixed;
	}
 }
 @media (max-width: 1024px) {
 	.cliente .firma {
		margin-top: 7.5em;
	}
	#home .owl-prev, #home .owl-next {
		top: 3.5em;
	}
	#home .owl-item .item {
		margin-top: 2em;
	}
	#owl-demo {
		height: 650px;
	}
 }
 @media (max-width: 768px) {
 	.cliente em {
		font-size: 16px;
	}
 	.brand {
 		text-decoration: none !important;
 	}
 	.brand p {
 		width: 100%;
		border: none !important;
		opacity: 1 !important;
		background: none;
		padding-top: 30px !important;
		padding-bottom: 5px !important;
		position: relative !important;
		display: block !important;
		height: 10%;
 	}
 	.cliente .firma {
		margin-top: 10.5em;
	}
 	#owl-demo {
		height: 540px;
	}
 	#home .owl-prev, #home .owl-next {
		top: 3em;
	}
 	.navbar-form{
 		width: 88%;
 		text-align: right;
 	}
 	.navbar-form .btn {
 		margin-right: 15px;
 	}
 	.navbar-header img {
 		width: 100px;
 	}
	.medios img {
	    width: 14em;
	}
	.productos-caja {
		margin: 20px 5px;
		height: 10em;
	}
	.servicios-caja {
	    margin: 20px 5px;
	    height: 27em;
	    width: 100%;
	}
	#home h1 {
	    width: 70%;
		top: 8em !important;
		font-size: 22px;
		left: -1.5em !important;
		right: 0;
		margin: 0 auto;
	}
	#home p a {
		top: 15em !important;
		left: 5.15em;
	}
	.servicios-banner, .medios-banner, .clientes-banner {
 		height: 700px;
 	}
 	.medios {
		height: 100%;
		padding-bottom: 3em;
	}
 }
 @media (max-width: 600px) {
 	div#navbar {
	    border-bottom: 1px solid rgb(192, 181, 181);
	    padding-bottom: 10px;
	}
 	.navbar-form {
		width: 100%;
		margin: 0;
	}
 	#owl-demo {
		height: 350px;
	}
 	.cliente {
 		height: 600px;
 	}
 	.cliente .firma {
		margin-top: 0;
	}	
 	#home h1 {
	    width: 70%;
		top: 2em;
		font-size: 16px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	#home .btn {
		top: 8em !important;
		left: 5.15em;
	}
	#home .owl-prev, #home .owl-next {
		top: 2em !important;
		margin: 0 !important;
		font-size: 40px !important;

	}
 }
 @media(max-width: 320px) {
 	.brand img {
	    width: 150px;
	}

	#home .owl-item img {
	    height: 45%; 
	    width: 120%; 
	    max-width: none; 
	    position: absolute;
	}
	.cliente em {
		font-size: 12px;
	}
	#home h1 {
		left: 0 !important;
	}
	#home .btn  {
		width: 70%;
		left: 0 !important;
		margin: 1em auto;
		right: 0;
	}
 }